<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a id="ajax_submit" type="button">悄悄的提交</a>
<input type="button" onclick="AjaxSubmit();" value="提交">
</body>
<script>
    $("#ajax_submit").click(function () {
        $.ajax({
            url: "/test_ajax",
            type: "POST",
            data: {"k1": "v1", "k2": "v2"},
            success: function (data1) {
                alert(data1);
            }
        })
    })
</script>

<script>
    function AjaxSubmit() {
        $.ajax({
            url: "/test_ajax",
            type: "POST",
            data: {"k1": "v1", "k2": "v2"},
            success: function (data1) {
                alert(data1);
            }

        });
    }
</script>
</html>